
.titulo{
	color: darkslateblue;
}

hr{
	border: 1px solid darkslateblue 
}	

h1{
	color: darkblue; /*blue red orange green*/
}

h2{
	color: darkred;
}

p{
	color: darkcyan;
}

body{
	background-color: floralwhite;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid gray;
	padding: 10px 10px 10px 10px;
	font-family: sans-serif;
}

a:link { /*link não visitado*/
		color: red;
		text-decoration: none;
	}

a:visited { /*link visitado*/
			color: green;
			text-decoration: none;
	}

a:hover { /*Moouse sobre o link*/
		color: hotpink;
		text-decoration: none;
		font-size: 20px;
	}
